body{
    background-color: bisque;
}
h2{
    text-align: center;
    padding-bottom: 1cm;
}
#l1{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 8);
    padding-bottom: 0.5cm;
   
    
}
#l2{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 8);
}

#l3{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 8);
}
#l4{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 8);
}
#l5{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 8);
}
#l6{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 8);
}
#l7{

    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 8);

}

#l8{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 8);
}
#b1{
    
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 0.5cm;
}
#t1{
    border: 1px solid black;
    width: 500px;
    height: 30px;
    padding: 10px;
    font-size: 14;
    margin-bottom: 10px;
    margin-top: 10px;
}
#d1{
    height: 1cm;
    margin-bottom: 0.5cm;
    margin-top: 10px;
}
.container {
    font-size: 20px;
    
  }
  .form-group button:hover {
    background-color: #218838;
}